<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <!--section-->
        <blueoshan>
            <!--group-->
            <general>
                <!--field-->
                <enabled>0</enabled>
            </general>
            <webhook>
                <hook_url>http://localhost:3000/webhook</hook_url>
                <abandoned_time>1</abandoned_time>
            </webhook>
        </blueoshan>
    </default>
</config>