<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="bo_hook_save_order_before" instance="Blueoshan\HubspotConnector\Observer\BeforeSave"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="bo_hook_order" instance="Blueoshan\HubspotConnector\Observer\AfterOrder"/>
    </event>
    <event name="sales_order_status_history_save_after">
        <observer name="bo_hook_before_order" instance="Blueoshan\HubspotConnector\Observer\AfterOrderComment"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="bo_hook_new_invoice" instance="Blueoshan\HubspotConnector\Observer\AfterInvoice"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="bo_hook_new_shipment" instance="Blueoshan\HubspotConnector\Observer\AfterShipment"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="bo_hook_new_creditmemo" instance="Blueoshan\HubspotConnector\Observer\AfterCreditmemo"/>
    </event>
    <event name="customer_save_before">
        <observer name="bo_hook_save_customer_before" instance="Blueoshan\HubspotConnector\Observer\BeforeSave"/>
    </event>
    <event name="customer_save_after">
        <observer name="bo_hook_new_customer" instance="Blueoshan\HubspotConnector\Observer\AfterCustomer"/>
    </event>
    <event name="customer_delete_before">
        <observer name="bo_hook_delete_customer" instance="Blueoshan\HubspotConnector\Observer\BeforeDeleteCustomer"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="bo_hook_new_customer" instance="Blueoshan\HubspotConnector\Observer\AfterCustomerAddress"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="bo_hook_product_save_before" instance="Blueoshan\HubspotConnector\Observer\BeforeSave"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="bo_hook_new_product" instance="Blueoshan\HubspotConnector\Observer\AfterProduct"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="bo_hook_delete_product" instance="Blueoshan\HubspotConnector\Observer\BeforeDeleteProduct"/>
    </event>
    <event name="catalog_category_save_before">
        <observer name="bo_hook_category_save_before" instance="Blueoshan\HubspotConnector\Observer\BeforeSave"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="bo_hook_category_save_after" instance="Blueoshan\HubspotConnector\Observer\AfterCategory"/>
    </event>
    <event name="catalog_category_delete_before">
        <observer name="bo_hook_delete_product" instance="Blueoshan\HubspotConnector\Observer\BeforeDeleteCategory"/>
    </event>
    <event name="customer_login">
        <observer name="bo_hook_customer_login" instance="Blueoshan\HubspotConnector\Observer\CustomerLogin"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="bo_hook_subscriber" instance="Blueoshan\HubspotConnector\Observer\Subscriber"/>
    </event>
</config>
