<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Blueoshan_HubspotConnector::blueoshan" title="Blueoshan" module="Blueoshan_HubspotConnector" sortOrder="900" resource="Blueoshan_HubspotConnector::blueoshan" action="blueoshan" />
    </menu>
</config>